@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
body{
    font-family: "DM Sans", sans-serif;
    background: #025464;
    color: #F8F1F1;
}
h2{
    text-align: center;
    color: #E57C23;
    margin-top: 45%;
}
input{
    border-radius: 2px;
    padding: 13px 28px;
    background: transparent;
    border: 1px solid white;
    margin: auto;
    color: white;
    text-decoration: italic;
    font-size: 20px;
}
input::focus{
    outline-color: E8AA42;
    border: none;
    outline-width: 1px;
}