@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
body{
    font-family: "DM Sans", sans-serif;
    background: #025464;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #E57C23;
}

#hello {
    text-align: center;
    animation-name: floatIn;
    animation-duration: 3s;
}

@keyframes floatIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h2{
    text-align: center;
}