{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<h3>SIGN UP</h3>
    <form action="#" method="POST">
        <p>
        <label>Username</label>
        <input type="text", name="nm" required>
        </p>

        <p>
        <label>Password</label>
        <input type="text", name="password" required>
        </p>
        <p><input type="submit", value="submit", class="button"></p>
        <span>Already have an account? Log in <a href="/login/">here</a></span>
    </form>
{% endblock %}